<nav class="nav">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/hotels">Hotels</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/accounts">Accounts</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/reviews">Reviews</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/rooms">Rooms</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/trips">Trips</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/cities">Cities</NavLink>
        </li>
    </ul>
</nav>
